:root {
  --primary-color: #0b1215;
  --secondary-color: #494949;
  --basic-color: #efefef;
  --blue-sky: #2b70f0;
}

$primary: var(--primary-color);
$secondary: var(--secondary-color);
$basic: var(--basic-color);
$blue_sky: #2b70f0;
