<section id="home" #home class="snap__scroll">
  <span class="name_animation">
    <span>B</span>
    <span>E</span>
    <span>M</span>
    <span class="name_animation__space"></span>
    <span>V</span>
    <span>I</span>
    <span>N</span>
    <span>D</span>
    <span>O</span>

    <section class="square__animation">
      <div class="name_animation__square_presentation">
        <div>Olá</div>
        <div>Meu nome é</div>
        <div>Gustavo Souza</div>
        <div class="scroll_icon__animation"></div>
      </div>
    </section>
  </span>
</section>
